
\.cache/

\.idea/

logs/

hostbotai/__pycache__/

config/default_config\.json

ipython/\.ipynb_checkpoints/

ipython/make edit text\.ipynb

alembic/versions/__pycache__/

hostbotai/tests/__pycache__/

hostbot_Ai\.egg-info/
