{"threshholds":{
    "Fri": 0.87,
    "Sat": 0.83,
    "Sun": 0.85,
    "Mon": 0.89,
    "Tue": 0.89,
    "Wed": 0.87,
    "Thu": 0.87},
  "client_key": "",
  "client_secret": "",
  "resource_owner_key": "",
  "resource_owner_secret": "",
  "oauth_user_agent": "https://github.com/notconfusing/hostbot-ai; max@notconfusing.com",
  "wm_password":"",
  "wm_username":"",
  "inviters" : [""],
  "fromaddr": "\"HostBot-AI Reports\" <max@notconfusing.com>",
  "toaddrs": ["isalix@gmail.com"],
  "AIRBRAKE_BASE_URL": "",
  "AIRBRAKE_API_KEY": "",
  "AIRBRAKE_PROJECT_ID": "1"
}
